@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #e2e2e2;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 0;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

h2 {
  margin: 0;
  text-align: left;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: left;
}

.wrds {
  margin-left: 1rem;
}

a {
  display: inline-block;
  color: #fff;
  background-color: #555;
  padding: .5em .75em;
  border: 2px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1rem;
}

a:hover {
  background-color: #000;
}

.img-flex {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }


}

@media only screen and (min-width: 38em) {

  html {
    font-size: 120%;
    line-height: 1.4;
  }

  .wrds {
    display: inline-block;
    max-width: 45%;
    vertical-align: middle;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .img {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    margin-top: 2rem;
    margin-left: .5rem;
  }


}

@media only screen and (min-width: 60em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .wrds {
    vertical-align: middle;
  }

  .img-flex {
    vertical-align: middle;
  }

  h1 {
    margin-top: 0;
  }


}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .wrds {
    margin-left: 10rem;
    margin-top: 0;
  max-width: 35%;
  }

  .img {
    max-width: 40%;
  }

  .img-flex {
    width: 90%;
  }


}
